*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  font-family:'Rubik', sans-serif;
  text-decoration: none;
  width: 100%;
  margin: auto;
}

.nav{
  width: auto;
  padding: 1% 5%;
  background-color: #f8f8f8;
  /* FLEXBOX */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  width: 215px;
}

.nav-menu{
  width: 50%;
  text-decoration: none;
  font-weight: bold;
  /* FLEXBOX */
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.nav-menu-social{
  margin: 0 2% 2% 0;
  font-size: 30px;
}

.nav-menu-options{
  width: 100%;
  font-size: 20px;
  text-align: right;
}

.nav-menu-options a{
  padding: 2%;
}