*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  font-family:'Rubik', sans-serif;
  text-decoration: none;
  width: 100%;
  margin: auto;
}

.nav{
  width: auto;
  padding: 1% 5%;
  background-color: #f8f8f8;
  /* FLEXBOX */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  width: 215px;
}

.nav-menu{
  width: 50%;
  text-decoration: none;
  font-weight: bold;
  /* FLEXBOX */
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.nav-menu-social{
  margin: 0 2% 2% 0;
  font-size: 30px;
}

.nav-menu-options{
  width: 100%;
  font-size: 20px;
  text-align: right;
}

.nav-menu-options a{
  margin: 0.5%;
  padding: 0.5%;
  color: black;
  background-color: #f8f8f8;
  border-radius: 1em;
  transition: color 0.5s, background-color 0.5s;
}

.nav-menu-options a:hover{
  color: #f8f8f8;
  background-color: rgb(85, 81, 74);
}

.open-image{
  min-height: 700px;
  background: url('images/computadora.jpg') top/cover no-repeat fixed;
  color: white;
  /* FLEXBOX */
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: flex-start;
}

.open-image div{
  width: 50%;
  margin: 10% 2% 0 0;
}

.open-image div h1{
  font-size: 50px;
}

.services{
  padding: 3% 0;
  background-color: #f8f8f8; 
  /* FLEXBOX */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.services p{
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(85, 81, 74);
}

.services h2{
  margin-bottom: 30px;
  font-size:40px;
  color: rgb(85, 81, 74);
}

.services hr{
  margin-bottom: 40px;
  width: 75px;
  border-width: 1px;
}

.services-content{
  width: 100%;
  padding: 0 20%;
  /* FLEXBOX */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.services-content-item{
  margin: 0 30px;
  text-align: justify;
}

.services-content-item p{
  font-size: 18px;
}

.services-content-item img{
  width: 100%;
  margin-bottom: 10px;
  min-width: 300px;
}

